<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.routeMapper" >
  <resultMap id="BaseResultMap" type="com.heitian.ssm.model.route" >
    <result column="Sid" property="sid" jdbcType="INTEGER" />
    <result column="Tid" property="tid" jdbcType="INTEGER" />
    <result column="Route" property="route" jdbcType="LONGVARCHAR" />
    <result column="Tnumberyear" property="Tnumberyear" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.heitian.ssm.model.route" extends="BaseResultMap" >
    <result column="Route" property="route" jdbcType="LONGVARCHAR" />
    <result column="Tnumberyear" property="Tnumberyear" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  Sid,Tid,Route,Tnumberyear
  </sql>
  <sql id="Blob_Column_List" >
    Route
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.heitian.ssm.model.routeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />

    <include refid="Blob_Column_List" />
    from route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heitian.ssm.model.routeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.heitian.ssm.model.routeExample" >
    delete from route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heitian.ssm.model.route" >
    insert into route (Sid, Tid, Tnumberyear,
      Route)
    values (#{sid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{tnumberYear,jdbcType=VARCHAR},
      #{route,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.heitian.ssm.model.route" >
    insert into route
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        Sid,
      </if>
      <if test="tid != null" >
        Tid,
      </if>
      <if test="tnumberYear != null" >
        Tnumberyear,
      </if>
      <if test="route != null" >
        Route,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="﻿sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tnumberYear != null" >
        #{tnumberYear,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        #{route,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heitian.ssm.model.routeExample" resultType="java.lang.Integer" >
    select count(*) from route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update route
    <set >
      <if test="record.sid != null" >
        Sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        Tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.tnumberYear != null" >
        Tnumberyear = #{record.tnumberYear,jdbcType=VARCHAR},
      </if>
      <if test="record.route != null" >
        Route = #{record.route,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update route
    set Sid = #{record.sid,jdbcType=INTEGER},
      Tid = #{record.tid,jdbcType=INTEGER},
      Tnumberyear = #{record.tnumberYear,jdbcType=VARCHAR},
      Route = #{record.route,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update route
    set Sid = #{record.sid,jdbcType=INTEGER},
      Tid = #{record.tid,jdbcType=INTEGER},
      Tnumberyear = #{record.tnumberYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>